<h2>Formulaire de Connexion</h2>

<form #loginFormulaire="ngForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      email required
      ngModel name="email"
      type="text" id="email"
      #emailInput="ngModel"
      class="form-control" />
      <div class="alter alert-danger"
        *ngIf="emailInput.invalid && emailInput.dirty">Votre email n'est pas Valide ! </div>
  </div>

  <div class="form-group">
    <label for="pwd">PassWord</label>
    <input
      type="password" minlength="4"
      ngModel name="password" id="pwd"
      #pwdInput="ngModel"
      class="form-control" />
      <div class="alter alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched"> Le PassWord doit avoir au minimum 4 caractères !</div>
  </div>

  <button [disabled]="loginFormulaire.invalid" class="btn btn-primary" (click)="login(loginFormulaire.value)">Se Connecter</button>
</form>
 