<div *ngIf="errorMsg" class="alert alert-danger ">{{errorMsg}}</div>
<form #formulaire="ngForm">
  <div class="form-group">
      <label for="name">Name</label>
      <input required id="name" type="text" class="form-control" ngModel name="name"/>
  </div>

  <div class="form-group">
      <label for="firstname">First Name</label>
      <input id="firstname" type="text" class="form-control" ngModel name="firstname"/>
  </div>

  <div class="form-group">
      <label for="job">Job</label>
      <input required id="job" type="text" class="form-control" ngModel name="job"/>
  </div>

  <div class="form-group">
      <label for="age">Age</label>
      <input min="0" max="170" id="age" type="number" class="form-control" ngModel name="age"/>
  </div>

  <div class="form-group">
      <label for="cin">CIN</label>
      <input  required id="cin" type="number" class="form-control" ngModel name="cin"/>
  </div>

  <div class="form-group">
      <label for="path">Image</label>
      <input id="path" type="text" class="form-control" ngModel name="path"/>
  </div>

  <button [disabled]="formulaire.invalid" type="submit" class="btn btn-primary" (click)="addPersonne(formulaire)">
      <i class="fas fa-save"></i> Enregistrer
  </button>
</form>
